# Ex-10 Salary Slab Prediction Using Classification Part-1

In [1]:
import pandas as pd

In [2]:
census = pd.read_csv('Salary_data.csv')

In [3]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [6]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)

In [7]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_data = census.drop('income_bracket',axis=1)

In [10]:
y_labels = census['income_bracket']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.3, random_state=101)

In [12]:
X_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
20895,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,28,United-States
3384,47,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,15024,0,40,United-States
1832,46,Local-gov,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,24,United-States
18919,46,State-gov,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,48,United-States
31685,60,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States

In [13]:
y_train.head()

20895    0
3384     1
1832     0
18919    0
31685    0
Name: income_bracket, dtype: int64

In [14]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [15]:
import tensorflow as tf

In [16]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender",["Female","Male"])

In [18]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [19]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [20]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,age,
            education_num,capital_gain,capital_loss,hours_per_week]

In [21]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

In [22]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\MYLENO~1\AppData\Local\Temp\tmpwfccwn6e
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\MYLENO~1\\AppData\\Local\\Temp\\tmpwfccwn6e', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000016E483267B8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [23]:
model.train(input_fn=input_func, steps=10000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\MYLENO~1\AppData\Local\Temp\tmpwfccwn6e\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 76.4624
INFO:tensorflow:loss = 312.37802, step = 101 (1.314 sec)
INFO:tensorflow:global_step/sec: 147.121
INFO:tensorflow:loss = 167.441, step = 201 (0.680 sec)
INFO:tensorflow:global_step/sec: 123.39
INFO:tensorflow:loss = 245.50854, step = 301 (0.808 sec)
INFO:tensorflow:global_step/sec: 147.042
INFO:tensorflow:loss = 108.68245, step = 401 (0.681 sec)
INFO:tensorflow:global_step/sec: 150.961
INFO:tensorflow:loss = 342.6651, step = 501 (0.660 sec)
INFO:tensorflow:global_step/sec: 112.274
INFO:tensorflow:loss = 428.67072, step = 601 (0.892 sec)
INFO:tensorflow:global_step/sec: 107.69
INFO:tensorflow:loss = 122.008194, step = 701 (0.929 sec)
INFO:tensorflow:global_step/sec: 142.006
INFO:tensorflow:loss = 30.619818, step = 801 (0.706 sec)
INFO:tensorflow:global_step/sec: 147.617
INFO:tensorflow:loss = 80.84651, step = 901 (0.673 sec)
INFO:tensorflow:global_step/sec: 147.444
INFO:tensorflow:loss = 65.21536, step = 1001 (0.678 sec)
INFO:tensorflow:global_step/sec: 150.436
INFO:tensorflow:loss = 152.34048, step = 1101 (0.667 sec)
INFO:tensorflow:global_step/sec: 147.67
INFO:tensorflow:loss = 117.89625, step = 1201 (0.680 sec)
INFO:tensorflow:global_step/sec: 140.406
INFO:tensorflow:loss = 204.03896, step = 1301 (0.709 sec)
INFO:tensorflow:global_step/sec: 123.178
INFO:tensorflow:loss = 139.22017, step = 1401 (0.822 sec)
INFO:tensorflow:global_step/sec: 121.341
INFO:tensorflow:loss = 145.5789, step = 1501 (0.819 sec)
INFO:tensorflow:global_step/sec: 110.725
INFO:tensorflow:loss = 59.2621, step = 1601 (0.902 sec)
INFO:tensorflow:global_step/sec: 115.668
INFO:tensorflow:loss = 32.849537, step = 1701 (0.861 sec)
INFO:tensorflow:global_step/sec: 145.782
INFO:tensorflow:loss = 185.39607, step = 1801 (0.686 sec)
INFO:tensorflow:global_step/sec: 145.245
INFO:tensorflow:loss = 157.27425, step = 1901 (0.687 sec)
INFO:tensorflow:global_step/sec: 147.573
INFO:tensorflow:loss = 100.48266, step = 2001 (0.681 sec)
INFO:tensorflow:global_step/sec: 140.792
INFO:tensorflow:loss = 258.8882, step = 2101 (0.711 sec)
INFO:tensorflow:global_step/sec: 155.214
INFO:tensorflow:loss = 243.43262, step = 2201 (0.641 sec)
INFO:tensorflow:global_step/sec: 147.963
INFO:tensorflow:loss = 91.92997, step = 2301 (0.678 sec)
INFO:tensorflow:global_step/sec: 153.032
INFO:tensorflow:loss = 40.9254, step = 2401 (0.652 sec)
INFO:tensorflow:global_step/sec: 151.4
INFO:tensorflow:loss = 40.316032, step = 2501 (0.662 sec)
INFO:tensorflow:global_step/sec: 148.639
INFO:tensorflow:loss = 290.96103, step = 2601 (0.672 sec)
INFO:tensorflow:global_step/sec: 127.807
INFO:tensorflow:loss = 36.9509, step = 2701 (0.786 sec)
INFO:tensorflow:global_step/sec: 87.556
INFO:tensorflow:loss = 70.7361, step = 2801 (1.140 sec)
INFO:tensorflow:global_step/sec: 93.0063
INFO:tensorflow:loss = 32.32064, step = 2901 (1.082 sec)
INFO:tensorflow:global_step/sec: 119.057
INFO:tensorflow:loss = 60.812756, step = 3001 (0.831 sec)
INFO:tensorflow:global_step/sec: 149.593
INFO:tensorflow:loss = 30.947458, step = 3101 (0.670 sec)
INFO:tensorflow:global_step/sec: 145.666
INFO:tensorflow:loss = 82.67605, step = 3201 (0.682 sec)
INFO:tensorflow:global_step/sec: 143.135
INFO:tensorflow:loss = 73.564735, step = 3301 (0.705 sec)
INFO:tensorflow:global_step/sec: 115.649
INFO:tensorflow:loss = 40.90819, step = 3401 (0.859 sec)
INFO:tensorflow:global_step/sec: 102.427
INFO:tensorflow:loss = 55.732254, step = 3501 (0.982 sec)
INFO:tensorflow:global_step/sec: 127.435
INFO:tensorflow:loss = 107.206696, step = 3601 (0.784 sec)
INFO:tensorflow:global_step/sec: 145.415
INFO:tensorflow:loss = 120.555336, step = 3701 (0.685 sec)
INFO:tensorflow:global_step/sec: 142.628
INFO:tensorflow:loss = 25.57698, step = 3801 (0.699 sec)
INFO:tensorflow:global_step/sec: 120.15
INFO:tensorflow:loss = 48.136356, step = 3901 (0.838 sec)
INFO:tensorflow:global_step/sec: 140.379
INFO:tensorflow:loss = 35.60043, step = 4001 (0.706 sec)
INFO:tensorflow:global_step/sec: 142.621
INFO:tensorflow:loss = 72.32456, step = 4101 (0.702 sec)
INFO:tensorflow:global_step/sec: 145.674
INFO:tensorflow:loss = 38.70069, step = 4201 (0.689 sec)
INFO:tensorflow:global_step/sec: 142.271
INFO:tensorflow:loss = 119.13307, step = 4301 (0.701 sec)
INFO:tensorflow:global_step/sec: 147.121
INFO:tensorflow:loss = 29.633629, step = 4401 (0.682 sec)
INFO:tensorflow:global_step/sec: 138.502
INFO:tensorflow:loss = 43.310013, step = 4501 (0.718 sec)
INFO:tensorflow:global_step/sec: 111.523
INFO:tensorflow:loss = 31.306293, step = 4601 (0.905 sec)
INFO:tensorflow:global_step/sec: 92.1747
INFO:tensorflow:loss = 75.48455, step = 4701 (1.082 sec)
INFO:tensorflow:global_step/sec: 73.4278
INFO:tensorflow:loss = 114.699165, step = 4801 (1.366 sec)
INFO:tensorflow:global_step/sec: 96.4049
INFO:tensorflow:loss = 111.320946, step = 4901 (1.034 sec)
INFO:tensorflow:global_step/sec: 107.899
INFO:tensorflow:loss = 41.48302, step = 5001 (0.923 sec)
INFO:tensorflow:global_step/sec: 145.198
INFO:tensorflow:loss = 58.993572, step = 5101 (0.690 sec)
INFO:tensorflow:global_step/sec: 144.438
INFO:tensorflow:loss = 28.775078, step = 5201 (0.695 sec)
INFO:tensorflow:global_step/sec: 119.756
INFO:tensorflow:loss = 37.689175, step = 5301 (0.829 sec)
INFO:tensorflow:global_step/sec: 118.37
INFO:tensorflow:loss = 29.528246, step = 5401 (0.845 sec)
INFO:tensorflow:global_step/sec: 117.267
INFO:tensorflow:loss = 34.791092, step = 5501 (0.851 sec)
INFO:tensorflow:global_step/sec: 147.916
INFO:tensorflow:loss = 49.399273, step = 5601 (0.676 sec)
INFO:tensorflow:global_step/sec: 104.89
INFO:tensorflow:loss = 21.498138, step = 5701 (0.963 sec)
INFO:tensorflow:global_step/sec: 95.5099
INFO:tensorflow:loss = 265.01236, step = 5801 (1.039 sec)
INFO:tensorflow:global_step/sec: 93.0078
INFO:tensorflow:loss = 32.85674, step = 5901 (1.080 sec)
INFO:tensorflow:global_step/sec: 113.936
INFO:tensorflow:loss = 203.35475, step = 6001 (0.876 sec)
INFO:tensorflow:global_step/sec: 129.458
INFO:tensorflow:loss = 117.806755, step = 6101 (0.772 sec)
INFO:tensorflow:global_step/sec: 134.749
INFO:tensorflow:loss = 31.689228, step = 6201 (0.750 sec)
INFO:tensorflow:global_step/sec: 109.044
INFO:tensorflow:loss = 21.045092, step = 6301 (0.909 sec)
INFO:tensorflow:global_step/sec: 129.961
INFO:tensorflow:loss = 33.464127, step = 6401 (0.766 sec)
INFO:tensorflow:global_step/sec: 135.937
INFO:tensorflow:loss = 32.779144, step = 6501 (0.743 sec)
INFO:tensorflow:global_step/sec: 137.161
INFO:tensorflow:loss = 47.435284, step = 6601 (0.726 sec)
INFO:tensorflow:global_step/sec: 132.714
INFO:tensorflow:loss = 56.88082, step = 6701 (0.757 sec)
INFO:tensorflow:global_step/sec: 108.863
INFO:tensorflow:loss = 36.35124, step = 6801 (0.911 sec)
INFO:tensorflow:global_step/sec: 106.832
INFO:tensorflow:loss = 27.252321, step = 6901 (0.943 sec)
INFO:tensorflow:global_step/sec: 113.423
INFO:tensorflow:loss = 65.01012, step = 7001 (0.878 sec)
INFO:tensorflow:global_step/sec: 134.76
INFO:tensorflow:loss = 44.83423, step = 7101 (0.743 sec)
INFO:tensorflow:global_step/sec: 147.548
INFO:tensorflow:loss = 108.98407, step = 7201 (0.673 sec)
INFO:tensorflow:global_step/sec: 136.598
INFO:tensorflow:loss = 25.352402, step = 7301 (0.736 sec)
INFO:tensorflow:global_step/sec: 146.513
INFO:tensorflow:loss = 75.2587, step = 7401 (0.679 sec)
INFO:tensorflow:global_step/sec: 146.375
INFO:tensorflow:loss = 36.696476, step = 7501 (0.688 sec)
INFO:tensorflow:global_step/sec: 146.055
INFO:tensorflow:loss = 41.401016, step = 7601 (0.685 sec)
INFO:tensorflow:global_step/sec: 151.225
INFO:tensorflow:loss = 124.42503, step = 7701 (0.659 sec)
INFO:tensorflow:global_step/sec: 149.606
INFO:tensorflow:loss = 62.13405, step = 7801 (0.672 sec)
INFO:tensorflow:global_step/sec: 138.475
INFO:tensorflow:loss = 36.579918, step = 7901 (0.716 sec)
INFO:tensorflow:global_step/sec: 133.425

INFO:tensorflow:loss = 36.061943, step = 8001 (0.752 sec)
INFO:tensorflow:global_step/sec: 115.407
INFO:tensorflow:loss = 169.25981, step = 8101 (0.868 sec)
INFO:tensorflow:global_step/sec: 114.491
INFO:tensorflow:loss = 88.29726, step = 8201 (0.868 sec)
INFO:tensorflow:global_step/sec: 104.694
INFO:tensorflow:loss = 194.325, step = 8301 (0.955 sec)
INFO:tensorflow:global_step/sec: 149.641
INFO:tensorflow:loss = 38.35014, step = 8401 (0.671 sec)
INFO:tensorflow:global_step/sec: 150.426
INFO:tensorflow:loss = 146.12318, step = 8501 (0.661 sec)
INFO:tensorflow:global_step/sec: 149.807
INFO:tensorflow:loss = 42.312317, step = 8601 (0.670 sec)
INFO:tensorflow:global_step/sec: 148.107
INFO:tensorflow:loss = 33.03941, step = 8701 (0.674 sec)
INFO:tensorflow:global_step/sec: 110.778
INFO:tensorflow:loss = 27.651098, step = 8801 (0.903 sec)
INFO:tensorflow:global_step/sec: 107.446
INFO:tensorflow:loss = 36.53605, step = 8901 (0.934 sec)
INFO:tensorflow:global_step/sec: 146.254
INFO:tensorflow:loss = 39.49791, step = 9001 (0.684 sec)
INFO:tensorflow:global_step/sec: 126.123
INFO:tensorflow:loss = 31.207455, step = 9101 (0.790 sec)
INFO:tensorflow:global_step/sec: 115.534
INFO:tensorflow:loss = 26.298033, step = 9201 (0.870 sec)
INFO:tensorflow:global_step/sec: 102.106
INFO:tensorflow:loss = 38.43456, step = 9301 (0.978 sec)
INFO:tensorflow:global_step/sec: 124.556
INFO:tensorflow:loss = 33.017097, step = 9401 (0.801 sec)
INFO:tensorflow:global_step/sec: 110.346
INFO:tensorflow:loss = 30.549969, step = 9501 (0.910 sec)
INFO:tensorflow:global_step/sec: 97.1553
INFO:tensorflow:loss = 28.883493, step = 9601 (1.028 sec)
INFO:tensorflow:global_step/sec: 114.2
INFO:tensorflow:loss = 132.78093, step = 9701 (0.872 sec)
INFO:tensorflow:global_step/sec: 119.51
INFO:tensorflow:loss = 107.24806, step = 9801 (0.837 sec)
INFO:tensorflow:global_step/sec: 149.531
INFO:tensorflow:loss = 36.025192, step = 9901 (0.674 sec)
INFO:tensorflow:Saving checkpoints for 10000 into C:\Users\MYLENO~1\AppData\Local\Temp\tmpwfccwn6e\model.ckpt.
INFO:tensorflow:Loss for final step: 31.966698.

In [24]:
pred_fun = tf.estimator.inputs.pandas_input_fn(x= X_test, batch_size=len(X_test), shuffle=False)

In [25]:
prediction = list(model.predict(input_fn=pred_fun))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\MYLENO~1\AppData\Local\Temp\tmpwfccwn6e\model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [27]:
prediction[0]

{'logits': array([-0.9463726], dtype=float32),
 'logistic': array([0.2796149], dtype=float32),
 'probabilities': array([0.72038513, 0.27961493], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object)}

In [28]:
final_preds = []
for pred in prediction:
    final_preds.append(pred['class_ids'][0])

In [30]:
final_preds[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [31]:
from sklearn.metrics import classification_report

In [33]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.88      0.92      0.90      7436
          1       0.72      0.62      0.66      2333

avg / total       0.85      0.85      0.85      9769